{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:active {
        text-decoration: underline;
    }
    
    .login{
        width: 400px; 
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .form-group{
        padding-top: 15px
    }

    .additional-message{
        padding-top: 50px;
        text-align: center;
    }
</style>

<div class ="login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
                
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        {% if messages %}
            {% for message in messages %}
                <small>{{ message }}</small>
            {% endfor %}
        {% endif %}  

        <div style="text-align:center">
            <button class="btn btn-primary" type="submit" style="margin-top: 10px"> Login </button>
        </div>
    </form>

    <div class="additional-message">          
        Belum mempunyai akun? <a href="{% url 'todolist:user_register' %}">Buat Akun</a>
    </div>
</div>

{% endblock content %}